@import "tailwindcss";


#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background-color: #00b7be;
  padding: 8px;
  margin: 4px;
  border-radius: 6px;
  border-width: 2px;
  border-color: #00b7be;
  transition: .2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #006f72;
}

input{
  border: 1px solid #006f72;
  border-radius: 4px;
  height: 34px;
  padding: 0 10px;
  margin-bottom: 12px;
}